.meus_filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meus_filmes h1{
    margin-bottom: 24px;
}
.meus_filmes span{
    font-size: 18px;
}
.meus_filmes ul{
    width: 720px;
}
.meus_filmes ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.meus_filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meus_filmes div a{
    text-decoration: none;
    color: tomato;
    margin-right: 15px;
}
button{
    margin-right: 12px;
    margin-top: 15px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{
    background-color: tomato;
    color: #fff;
}
button a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s;   
}
button a:hover{
    color: #fff;
}