header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #000;
}
.logo{
    color: tomato;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    -webkit-text-stroke: .3px #fff;
}
.favoritos{
    cursor: pointer;
    background-color: tomato;
    padding: 5px 14px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}
.letras{
    font-size: 1.8rem;
    font-weight: bold;
}